/* GENERAL  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(212,211,221);
    background: linear-gradient(90deg, rgba(212,211,221,1) 0%, rgba(239,239,188,1) 53%);
}

h1 {
    margin-top: 50px;
    text-align: center;
}

/* container card  */

.container__card {
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

/* card  */

.card {
    margin: 20px;
    height: 220px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 2px 5px 21px 5px rgba(0, 0, 0, 0.276);
}

.card img {
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.563);
    border-radius: 500%;
}

.container__text {
    text-align: center;
    margin: 10px;
}

.container__text span {
    padding: 2px 8px;
    border-radius: 10px;
    background-color: rgba(163, 163, 163, 0.281);
}

.container__text h4 {
    margin: 10px;
}

.container__text p {
    font-size: 12px;
}


/* class color  */

.electric {
    background-color: #FCF7DE;
}

.fire {
    background-color: #fddfdf;
}

.grass {
    background-color: #defce0;
}

.water {
    background-color: #DEF3FD;
}

.ground {
    background-color: #f4e7da;
}

.rock {
    background-color: #d5d5d4;
}

.fairy {
    background-color: #fceaff;
}

.poison {
    background-color: #98d7a5;
}

.bug {
    background-color: #f8d5a3;
}

.dragon {
    background-color: #97b3e6;
}

.psychic {
    background-color: #eaeda1;
}

.flying {
    background-color: #F5F5F5;
}

.fighting {
    background-color: #E6E0D4;
}

.normal {
    background-color: #F5F5F5;
}